.button {
    background-color: $color-blue;
    cursor: pointer;
    border: none;

    &--next {
        width: 37px;
        height: 35px;
        background-image: url(../../img/sprite/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        transform: scale(-1, 1);
    }

    &--back {
        width: 37px;
        height: 35px;
        background-image: url(../../img/sprite/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}