.contacts__map {
    position: relative;
  
    width: 100%;
    height: 320px;
  
    @media (min-width: $vp-768) {
      height: 340px;
    }
  
    @media (min-width: $vp-1440) {
      width: 585px;
      height: 324px;
      margin-top: 91px;
  
      grid-column: 2/3;
      grid-row: 1/-3;
    }
  }
  

.contacts__iframe {
    display: block;
    width: 100%;
    height: 320px;
  
    border: none;
}

.contacts__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  
    display: block;
    width: 100%;
    object-fit: cover;
  
    @media (min-width: $vp-768) {
      height: 340px;
    }
  
    @media (min-width: $vp-1440) {
      width: 585px;
      height: 324px;
    }
  }